body{
	margin:0;
	font-family:Calibri;
}

		
.dashboard-navigation{
	background-color:#7B1FA2;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}


			/*
			.navbar{
				list-style-type: none;
				  text-align: center;
				  margin: 0;
				  padding: 0;
				  
			}
			*/
ul.nav-bar{
	margin-left:400px;
}
			
.nav-bar li{
	display:inline-block;
	padding:10px;
}

.logo{
	padding:10px;
}
			
		
.grid-item-1{
	grid-column-start: 1;
	grid-column-end: 3;
	padding:5px;
	margin-top:0px;
	
}
			
.grid-item{
}

.dashboard-content{
	padding:50px;
}

.dashboard-navigation .col-md-8{
	
}
	


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#7B1FA2;
  color: white;
  text-align: center;
}

			