<html>
	<head>
		<title>Dashbboard home page</title>
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">
	</head>
	<body>
			<nav class="navbar navbar-expand-lg navbar-light navbar-custom" >
			  <a class="navbar-brand" href="#">
				  <a href="/dashboard/announcements"><img src="{{url_for('static',filename='images/ahub_logo/logo_3.png')}}" alt="" width="40"></a>
				  <span class="navbar-text" style="color:white;">
					
				  </span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" >
				  <li class="nav-item active">
					<a class="nav-link" style="color: white;" href="dashboard_home.html">announcements <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item dropdown  ml-auto">
					<a class="nav-link dropdown-toggle" style="color: white;" data-toggle="dropdown">account</a>
					<div class="dropdown-menu">
						<a href="account_profile.html" class="dropdown-item">Profile</a>
						<a href="/dashboard/set-rates" class="dropdown-item">Charges</a>
					</div>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" style="color: white;" href="#">logout</a>
				  </li>
				</ul>
			  </div>
			</nav>
			<div class="container-fluid" style="margin-top: 10px;">
				<div class="row"  style="margin-bottom: 10px;">
					<div class="col-md-12">
						<div class="card">
						  <div class="card-body">
							<h5>Announcement - 31</h5>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						{% if message %}
						<div class="alert alert-primary" role="alert">
						  {{message}}
						</div>
						{% endif %}
						
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Type</h6>
								<p class="card-text">{{announcement.type}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Deceased name</h6>
								<p class="card-text">{{announcement.deceased_name}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Deceased other name</h6>
								<p class="card-text">{{announcement.deceased_other_name}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Funeral date</h6>
								<p class="card-text">{{announcement.funeral_date}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Funeral venue</h6>
								<p class="card-text">{{announcement.funeral_venue}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Vigil venue</h6>
								<p class="card-text">{{announcement.vigil_venue}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Contact</h6>
								<p class="card-text">{{announcement.contact}}</p>
							</div>
						</div>
						<div class="card" style="margin-bottom:5px;">
							<div class="card-body">
								<h6 class="card-title">Time Slot</h6>
								<p class="card-text">{{announcement.time_slot}}</p>
							</div>
						</div>
						{% if announcement.read == False %}
						<form action="/dashboard/announcements/{{announcement.type}}/{{announcement.id}}" method="POST">
							<button type="submit" class="btn btn-primary">Read</button>
						</form>
						{% endif %}
					</div>
				</div>
		  </div>
	</body>
	<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
</html>